name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Upload OpenAPI spec
        id: upload-openapi-spec
        uses: ./
        with:
          hey-api-token: ${{ secrets.HEY_API_TOKEN }}
          path-to-openapi: ./openapi.json
